* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

.reset-input,
.reset-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.reset-input:focus,
.reset-btn:focus {
    outline: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    margin: 0;
    /* transition: all .4s; */
    /* -webkit-transition: all .4s; */
    /* -o-transition: all .4s; */
    /* -moz-transition: all .4s */
}

a:focus {
    outline: none !important
}

a:hover {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

p {
    margin: 0
}

img {
    max-width: 100%;
}

li, 
ul {
    margin: 0;
    list-style-type: none
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}
input {
    display: block;
    outline: none;
    border: none !important
}

textarea {
    display: block;
    outline: none
}

textarea:focus,
input:focus {
    border-color: transparent !important
}

button {
    outline: none !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}
   
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
}

:root {
    --grey_fa: #fafafa;
    --grey_70: #707070;
    --blue: #26326b;
}

body {
    font-family: 'Fira Sans', Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--grey_fa);
}

.header,
.main__container {
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
}

.container {
    max-width: 1820px;
    min-width: 930px;
    width: 90%;
    margin: auto;
}

.header__container {
    height: 100px;
}

.header__logo {
    max-width: 254px;
    min-width: 120px;
    border-bottom: 4px solid transparent;
    margin-right: 2vw;
}

.header__nav {
    align-self: stretch;
}

.nav__items,
.header_sidenav {
    align-self: stretch;
}

.nav__item {
    color: var(--blue);
    height: 100%;
    margin: 0 2vw;
    border-bottom: 4px solid transparent;
}

.nav_sidenav .nav__item:last-child {
    margin: 0 0 0 2vw;
}

.active,
.nav__item:hover,
.nav__item:active {
    border-bottom: 4px solid var(--blue);
}

.nav__link {
    color: var(--grey_70);
    font-size: 1.2em;
    /* font-size: 20px; */
    text-transform: uppercase;
    display: inline-block;
}

.active .nav__link,
.nav__item:hover .nav__link,
.nav__item:active .nav__link {
    color: var(--blue);
}

.main__container {
    margin-top: 50px;
    border-radius: 2px;
    grid-template-areas:
    "main__heading  main__buttons"
    "main__table main__table";
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr auto;
    padding: 0 20px;
}

.main__heading {
    grid-area: main__heading;
}

.main__buttons {
    grid-area: main__buttons;
}

.table__container {
    width: 100%;
    /* min-height: 100vh; */
    background: #c4d3f6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px
}

.main__table {
    grid-area: main__table;
    width: 100%;
    display: table;
    margin: 0
}

.row {
    display: table-row;
    background: #fff
}

.cell {
    display: table-cell
}

/* .table__header {
    width: 100%;
} */




