<header class="header">
    <div class="header__container container flex">
        <a href="{{ url_for('index') }}" class="header__logo logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Rosa Khutor Logo" class="header__img">
        </a>
        <nav class="header__nav nav flex">
            <ul class="nav__items flex">
                <li class="nav__item flex {{ 'active' if active_page == 'weather' }}"><a href="{{ url_for('index') }}" class="nav__link">Погода</a></li>
                <li class="nav__item flex {{ 'active' if active_page == 'lifts' }}"><a href="{{ url_for('page_lifts') }}" class="nav__link">Подъёмники</a></li>
                <li class="nav__item flex {{ 'active' if active_page == 'slopes' }}"><a href="{{ url_for('page_slopes') }}" class="nav__link">Трассы</a></li>
                <li class="nav__item flex {{ 'active' if active_page == 'acts' }}"><a href="#" class="nav__link">Активности</a></li>
                <li class="nav__item flex dsb {{ 'active' if active_page == 'prefs' }}"><a href="#" class="nav__link">Настройки</a></li>
            </ul>
        </nav>
        <div class="header__sidenav flex">
            <ul class="sidenav__items flex">
                <li class="nav__item flex"><a href="{{ url_for('logout') }}" class="nav__link">Выход</a></li>
            </ul>
        </div>
    </div>
</header>