{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/acts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lifts.css') }}">
{% endblock %}

{% block title %} Подъёмники {% endblock %}

{% block content %}
    {% set active_page = 'lifts' %}
    {% include 'header.html' %}
    <main class="main">
        <div class="main__container container">
            <!-- LIFTS HEADING -->
            <div class="main__header flex">
                <h1 class="main__heading">Подъёмники</h1>
                <!-- BUTTONS -->
                <form id="lifts" action="" method="POST" class="main__buttons">
                    <button class="main__button button reset-btn" type="reset" value="Отменить">Отменить</button>
                    <button class="main__button button reset-btn" type="submit" value="Сохранить">Сохранить</button>
                </form>
            </div>
            <!-- LIFTS TABLE -->
            <div class="main__table table flex">
                <div class="table__header flex">
                    <div class="table__cell icon"></div>
                    <div class="table__cell name">Название</div>
                    <div class="table__cell open">Открытие</div>
                    <div class="table__cell close">
                        <span>Посадка до:</span><br>
                        <div class="closed-desc flex"><small>наверх</small>&nbsp;&nbsp;&nbsp;<small>вниз</small></div>
                    </div>
                    <!-- <div class="table__cell hours">Время работы</div> -->
                    <div class="table__cell night">Ночное катание</div>
                    <div class="table__cell state">Состояние</div>
                    <div class="table__cell flex">
                        <input type="checkbox" id="lifts__locker" class="locker" onclick="switch_disable(this.checked, 'winter-check')" checked>
                        <label for="lifts__locker" class="locker__icon"></label>
                        <span>Лето</span>
                    </div>
                    <div class="table__cell change">Последнее изменение</div>
                </div>
                <!-- LIFTS GENERATED  -->
                {% for lift in list_lifts %}
                <!--  {{ lift.get('name') }}  -->
                <div class="table__row flex">
                    <!-- ICON  -->
                    <div class="table__cell icon"> <img src="{{ url_for('static',  filename='img/lifts_icons/' + lift.get('type', 'TSD') + '.svg' ) }}" alt=""> </div>
                    <!-- NAME  -->
                    <div class="table__cell name">{{ lift.get('name') }}</div>
                    <!-- HOURS  -->
                    <!-- OPEN FROM  -->
                    <div class="table__cell open flex">
                        <input type="text"
                               name="{{ lift.get('id') }}__open_from"
                               id="{{ lift.get('id') }}__open_from"
                               placeholder="{{ lift.get('open_from') }}"
                               class="time"
                               form="lifts"
                               max="5">
                    </div>
                    <!-- OPEN TILL  -->
                    <div class="table__cell close flex">
                        <input type="text"
                               name="{{ lift.get('id') }}__open_till"
                               id="{{ lift.get('id') }}__open_till"
                               placeholder="{{ lift.get('open_till') }}"
                               class="time"
                               form="lifts"
                               max="5">
                    </div>
                    <!-- NIGHT  -->
                    <div class="table__cell night flex">
                        <input type="checkbox"
                               class="night"
                               onclick="switch_night(this.checked, '{{ lift.id }}__night', '{{ lift.id }}__night_open_from', '{{ lift.id }}__night_open_till')"
                               {% if lift.night == "on" %}checked{% endif %}>
                        <input type="text"
                               name="{{ lift.get('id') }}__night"
                               id="{{ lift.get('id') }}__night"
                               form="lifts"
                               value="{{ lift.night }}"
                               class="visually-hidden">
                        <!-- NIGHT OPEN FROM  -->
                        <input type="text"
                               name="{{ lift.get('id') }}__night_open_from"
                               id="{{ lift.get('id') }}__night_open_from"
                               placeholder="{{ lift.get('night_open_from') }}"
                               class="time"
                               form="lifts"
                               max="5"
                               {% if lift.night == "off" %}disabled{% endif %}>
                        <!-- NIGHT OPEN TILL  -->
                        <input type="text"
                               name="{{ lift.get('id') }}__night_open_till"
                               id="{{ lift.get('id') }}__night_open_till"
                               placeholder="{{ lift.get('open_till') }}"
                               class="time"
                               form="lifts"
                               max="5"
                               {% if lift.night == "off" %}disabled{% endif %}>
                    </div>
                    <!-- STATE  -->
                    <div class="table__cell state">
                        {% set states = ['O', 'P', 'C', 'OO'] %}
                        {% set check = lift.get('state') %}
                        {% for state in states %}
                        <!-- {{ state }}  -->
                        <label>
                            <input type="radio"
                                   name="{{ lift.get('id') }}__state"
                                   id="{{ lift.get('id') }}__state__{{ state }}"
                                   form="lifts"
                                   class="state__radio"
                                   value="{{ state }}"
                                   {% if check == state %}checked{% endif %}>
                            <img src="{{ url_for('static', filename='img/states_icons/' + state + '.svg') }}" alt="" class="state__img state__open">
                        </label>
                        {% endfor %}
                    </div>
                    <!-- SUMMER  -->
                    {% set summer = lift.get('summer') %}
                    <div class="table__cell winter flex">
                        <input type="checkbox" name="{{ lift.get('id') }}__summer" id="{{ lift.get('id') }}__summer" class="winter-check" {% if summer %}checked{% endif %} disabled>
                    </div>
                    <!-- UPDATED  -->
                    <div class="table__cell change">{{ lift.get('updated')|truncate(16, True, end='')|replace('-', '.')}} {{ lift.get('updated_by') }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script>
    function switch_disable(check, elements) {
        let inputs = document.getElementsByClassName(elements);
        for(let i=0; i < inputs.length; i++) {
            inputs[i].disabled = check;
        }
    }

    function switch_night(f, night, from, till) {

        var x = document.getElementById(night)

        if (x.value === 'on') {
            x.value = 'off'
        } else {
            x.value = 'on'
        }

        document.getElementById(from).disabled = !f;
        document.getElementById(till).disabled = !f;
    }

    </script>
{% endblock %}