{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/acts.css') }}">
{% endblock %}

{% block title %} Трассы {% endblock %}

{% block content %}
    {% set active_page = 'slopes' %}
    {% include 'header.html' %}
    <main class="main">
        <div class="main__container container">
            <!-- SLOPES HEADING -->
            <div class="main__header flex">
                <h1 class="main__heading">Трассы</h1>
                <!-- BUTTONS -->
                <form id="slopes" action="" method="POST" class="main__buttons">
                    <button class="main__button button reset-btn" type="reset" value="Отменить">Отменить</button>
                    <button class="main__button button reset-btn" type="submit" value="Сохранить">Сохранить</button>
                </form>
            </div>
            <!-- SLOPES TABLE -->
            <div class="main__table table flex">
                <div class="table__header flex">
                    <div class="table__cell name">Название</div>
                    <div class="table__cell kind">Сложность</div>
                    <div class="table__cell hours">Время работы</div>
                    <div class="table__cell state">Состояние</div>
                    <div class="table__cell change">Последнее изменение</div>
                </div>
                <!-- SLOPES GENERATED  -->
                {% for slope in list_slopes %}
                <!--  {{ slope.get('name') }}  -->
                <div class="table__row flex">
                    <!-- NAME  -->
                    <div class="table__cell name">{{ slope.get('name') }}</div>
                    <!-- LEVEL  -->
                    <div class="table__cell kind">
                        {% set levels = ['G', 'B', 'R', 'D'] %}
                        {% set check = slope.get('level') %}
                        {% for level in levels %}
                        <!-- {{ level }}  -->
                        <label>
                            <input type="radio"
                                   name="{{ slope.get('id') }}__level"
                                   id="{{ slope.get('id') }}__level__{{ level }}"
                                   form="slopes"
                                   class="level__radio"
                                   value="{{ level }}"
                                   {% if check == level %}checked{% endif %}>
                            <div class="complex complex__{{ level }}"></div>
                        </label>
                        {% endfor %}
                    </div>
                    <!-- HOURS  -->
                    <div class="table__cell hours">
                        <input type="text"
                               name="{{ slope.get('id') }}__open_from"
                               id="{{ slope.get('id') }}__open_from"
                               placeholder="{{ slope.get('open_from')|replace(':', '') }}"
                               class="time"
                               form="slopes"
                               max="5"> —
                        <input type="text"
                               name="{{ slope.get('id') }}__open_till"
                               id="{{ slope.get('id') }}__open_till"
                               placeholder="{{ slope.get('open_till')|replace(':', '') }}"
                               class="time"
                               form="slopes"
                               max="5">
                    </div>
                    <!-- STATE  -->
                    <div class="table__cell state">
                        {% set states = ['O', 'P', 'C', 'OO'] %}
                        {% set check = slope.get('state') %}
                        {% for state in states %}
                        <!-- {{ state }}  -->
                        <label>
                            <input type="radio"
                                   name="{{ slope.get('id') }}__state"
                                   id="{{ slope.get('id') }}__state__{{ state }}"
                                   form="slopes"
                                   class="state__radio"
                                   value="{{ state }}"
                                   {% if check == state %}checked{% endif %}>
                            <img src="{{ url_for('static', filename='img/states_icons/' + state + '.svg') }}" alt="" class="state__img state__open">
                        </label>
                        {% endfor %}
                    </div>
                    <!-- UPDATED  -->
                    <div class="table__cell change">{{ slope.get('updated')|truncate(16, True, end='')|replace('-', '.')}} {{ slope.get('updated_by') }}</div>
                </div>

                {% endfor %}
                <!-- SLOPES GENERATED END  -->
            </div>
            <!-- SLOPES TABLE END -->
        </div>
    </main>
{% endblock %}
