{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
{% endblock %}

{% block title %} Погода — {{ name }} {% endblock %}

{% block content %}
    {% set active_page = 'weather' %}
    {% include 'header.html' %}
    <main class="main">
        <div class="main__container container flex">
            <h1 class="visually-hidden">Погода — {{ name }}</h1>
            <!--  LEFT MENU  -->
            <div class="main__menu menu">
                {% set zones = ['Роза Долина', 'Роза Стадион', 'Горная олимпийская деревня', 'Роза 1600', 'Роза Пик', 'Южный склон'] %}
                <ul class="menu__items">
                    {% for zone in zones %}
                    <li class="menu__item {{ 'active' if name == zone }}"><a href="{{ url_for('page_weather', kind='local', name=zone, day=0) }}" class="menu__link">{{ zone }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <section class="main__weather weather">
                <div class="weather__header dates flex">
                    <!-- WEATHER HEADING -->
                    <ul class="dates__items flex">
                        {% for date in dates %}
                        <li class="dates__item {% if day == loop.index - 1 %}active{% endif %}"><a href="{{ url_for('page_weather', kind='local', name=name, day=loop.index - 1 ) }}" class="dates__link">{{ date }}</a></li>
                        {% endfor %}
                    </ul>
                    <!-- YRNO -->
<!--                    <label class="weather__yrno">-->
<!--                        <input type="checkbox" name="yrno_checkbox" id="yrno" value="1" onclick="yrno(this)" checked>-->
<!--                        <span>Погода с yr.no</span>-->
<!--                    </label>-->
                    <!-- BUTTONS -->
                    <form id="weather" action="{{ url_for('page_weather', kind='local', name=name, day=day) }}" method="POST" class="main__buttons" onclick="console.log(fo)">
                        <a href="{{ url_for('page_weather', kind=kind, name=name, day=day) }}" class="main__button button reset-btn" type="reset" value="Отменить">Отменить</a>
                        <button class="main__button button reset-btn" type="submit" value="Сохранить">Сохранить</button>
                    </form>
                </div>
                <section class="weather__blocks flex">
                    <!-- SNOW GENERATED  -->
                    <article class="weather__block block snow flex">
                        <!-- SNOW -->
                        <div class="block__heading flex">
                            <h4>Снег</h4>
                            <input type="checkbox" id="snow__locker" class="locker" onclick="switch_disable(this.checked, 'snow-input')" checked>
                            <label for="snow__locker" class="locker__icon"></label>
                        </div>
                        <!-- SNOW STATE -->
                        <label class="block__label flex ">
                            <div class="item__desc">Состояние</div>
                            {% set current_snow_state = snow.get('snow_state', 'ОТСУТСТВУЕТ') %}
                            {% set snow_states = ['ОТСУТСТВУЕТ', 'СВЕЖЕВЫПАВШИЙ', 'ТВЁРДЫЙ', 'ВЕСЕННИЙ', 'МЯГКИЙ', 'ВЛАЖНЫЙ'] %}
                            <select name="snow_state" id="snow_state" form="weather" class="select snow-input" disabled>
                                {% for snow_state in snow_states %}
                                <option value="{{ snow_state.upper() }}" {% if current_snow_state.upper() == snow_state %}selected{% endif %}>{{ snow_state.upper() }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <!-- SNOW HEIGHT -->
                        <label class="block__label flex">
                            <div class="item__desc">Общая высота, см</div>
                            <input type="number"
                                   name="snow_height"
                                   id="snow_height"
                                   form="weather"
                                   placeholder="{{ snow.get('snow_height', 0) }}"
                                   value="{{ snow.get('snow_height', 0 ) }}"
                                   class="snow-input"
                                   disabled>
                        </label>
                        <!-- SNOW HEIGHT NEW-->
                        <label class="block__label flex">
                            <div class="item__desc">Высота свежего снега, см</div>
                            <input type="number"
                                   name="snow_height_new"
                                   id="snow_height_new"
                                   form="weather"
                                   placeholder="{{ snow.get('snow_height_new', 0) }}"
                                   value="{{ snow.get('snow_height_new', 0) }}"
                                   class="snow-input"
                                   disabled>
                        </label>
                        <!-- SNOW DATE-->
                        <label class="block__label flex">
                            <div class="item__desc">Последний снегопад</div>
                            <input type="text" name="snow_date" id="snow_date" form="weather"  value="{{ snow.get('snow_date', '-') }}" class="snow-input" disabled>
                        </label>
                        <!-- SNOW AVALANCHE-->
                        <label class="block__label flex">
                            <div class="item__desc">Лавиноопасность</div>
                            {% set current_avalanche_state = valrisk %}
                            {% set avalanche = {1: 'Низкая', 2: 'Умеренная', 3: 'Значительная', 4: 'Высокая', 5: 'Экстремальная', 0: 'Отсутствует' } %}
                            <select name="snow_avalanche" id="snow_avalanche" form="weather" class="select snow-input" disabled>
                                {% for key, value in avalanche.items()  %}
                                <option value="{{ key }}" {% if current_avalanche_state == key %}selected{% endif %}>{{ key }} - {{ value }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </article>
                    <!-- SKY TEMP GENERATED  -->
                    <article class="weather__block block sky flex">
                        <div class="block__heading flex">
                            <h4>Прогноз</h4>
<!--                            {{ weather.source }}-->
                            <!-- SIDE BUTTONS  -->
                            <div class="block__buttons flex">
                                <!-- YRNO SWITCHER  -->
                                <label class="yrno-label" for="yrno_checker">yr.no</label>
                                <input type="checkbox"
                                       class="yrno"
                                       id="yrno_checker"
                                       onclick="switch_source(this.checked, 'source')"
                                       {% if weather.source == 'yrno' %}checked{% endif %}>
                                <input type="text"
                                       name="source"
                                       id="source"
                                       form="weather"
                                       value="{{ weather.source }}"
                                       class="visually-hidden">
<!--                                &lt;!&ndash; YRNO UPDATER  &ndash;&gt;-->
<!--                                <input type="checkbox" name="{{ weather.get('id') }}__source" id="{{ weather.get('id') }}__source" class="source-check" {% if weather.source == 'yrno' %}checked{% endif %}>-->
<!--                                <input type="checkbox" id="yrno__locker" class="locker" onclick="switch_disable(this.checked, 'weather-input')"-->
<!--                                       {% if kind == 'local' %}checked{% endif %}>-->
<!--                                <label for="weather__locker" class="locker__icon"></label>-->
<!--                                <a href="{{ url_for('page_weather', kind='yrno', name=name, day=day) }}" class="block__button">Взять с yr.no</a>-->
                                <!-- WEATHER LOCKER  -->
                                <input type="checkbox" id="weather__locker" class="locker {% if weather.source == 'yrno' %}disabled{% endif %}" onclick="switch_disable(this.checked, 'weather-input')" checked {% if weather.source == 'yrno' %}disabled{% endif %}>
                                <label id="locker__icon" for="weather__locker" class="locker__icon {% if weather.source == 'yrno' %}disabled{% endif %}"></label>
                            </div>
                        </div>
                        <!-- SKY TEMP before 12 -->
                        {% set weather_states = ['НЕТ', 'ДОЖДЬ', 'ОБЛАЧНО', 'ПАСМУРНО', 'СНЕГ', 'СОЛНЕЧНО', 'СОЛНЦЕ', 'БУРЯ'] %}
                        <!-- SKY before 12  -->
                        <label class="block__label flex">
                            <div class="item__desc">Небо до 12:00</div>
                            {% set sky = weather.get('weather_sky', 'НЕТ') %}
                            <img id="sky-am-img" src="{{ url_for('static', filename='img/weather_icons/' + sky + '.svg') }} " alt="" class="weather__img">
                            <select onchange="change_src(this, 'sky-am-img')"
                                    name="weather_sky"
                                    id="weather_sky"
                                    form="weather"
                                    class="select weather-input"
                                    {% if kind == 'local' %}disabled{% endif %}>
                                {% set weather_states = ['НЕТ', 'ДОЖДЬ', 'ОБЛАЧНО', 'ПАСМУРНО', 'СНЕГ', 'СОЛНЕЧНО', 'СОЛНЦЕ', 'БУРЯ'] %}
                                {% for weather_state in weather_states %}
                                <option value="{{ weather_state }}" {% if sky == weather_state %}selected{% endif %}>{{ weather_state }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <!-- TEMP before 12  -->
                        <label class="block__label flex">
                            <div class="item__desc">Температура до 12:00, °С</div>
                            <input type="number" name="weather_temp" id="weather_temp" form="weather"  value="{{ weather.get('weather_temp', 0) }}" class="temperature weather-input" {% if kind == 'local' %}disabled{% endif %}>
                        </label>
                        {% if day < 3 %}
                        <!-- SKY TEMP after 12 -->
                        <!-- SKY after 12  -->
                        <label class="block__label flex">
                            <div class="item__desc">Небо после 12:00</div>
                            {% set sky_day = weather.get('weather_sky_day', 'НЕТ') %}
                            <img id="sky-pm-img" src="{{ url_for('static', filename='img/weather_icons/' + sky_day + '.svg') }} " alt="" class="weather__img">
                            <select onchange="change_src(this, 'sky-pm-img')"
                                    name="weather_sky_day"
                                    id="weather_sky_day"
                                    form="weather"
                                    class="select weather-input"
                                    {% if kind == 'local' %}disabled{% endif %}>
                                {% for weather_state in weather_states %}
                                {{loop.index}}
                                <option value="{{ weather_state }}" {% if sky_day == weather_state %}selected{% endif %}>{{ weather_state }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <!-- TEMP after 12  -->
                        <label class="block__label flex">
                            <div class="item__desc">Температура до 12:00, °С</div>
                            <input type="number" name="weather_temp_day" form="weather"  id="weather_temp_day" value="{{ weather.get('weather_temp_day', 0) }}" class="temperature weather-input" {% if kind == 'local' %}disabled{% endif %}>
                        </label>
                        {% endif %}
                        <!-- WIND  -->
                        <h4 class="block__heading">Ветер</h4>
                            <!-- WIND VELOCITY -->
                            <label class="block__label flex">
                                <div class="item__desc">Скорость, м/с</div>
                                <input type="number" name="wind_velocity" id="wind_velocity" form="weather"  value="{{ weather.get('wind_velocity', 0) }}" class="weather-input" {% if kind == 'local' %}disabled{% endif %}>
                            </label>
                            <!-- WIND DIRECTION -->
                            <label class="block__label flex">
                                <div class="item__desc">Направление</div>
                                {% set direction = weather.get('wind_direction') %}
                                {% set directions = {'N': 'С', 'NE': 'СВ', 'E': 'В', 'SE': 'ЮВ', 'S': 'Ю', 'SW': 'ЮЗ', 'W': 'З', 'NW': 'СЗ', None: '-'} %}
                                <select name="wind_direction" id="wind_direction" form="weather" class="select weather-input" {% if kind == 'local' %}disabled{% endif %}>
                                    {% for key, value in directions.items() %}
                                    <option value="{{ key }}" {% if direction == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                    </article>
                </section>
            </section>
        </div>
    </main>
<script>
    let inputs = document.querySelectorAll('select');
    let inputDict = [];

    function makeDict(list) {
         list.forEach(function(elem) {
            inputDict.push({
                key: elem.id,
                value: elem.value
            })
        });
    }

    makeDict(inputs)

    // console.log(inputDict)

    function switch_disable(check, elements) {
        let inputs = document.getElementsByClassName(elements);
        for(let i=0; i < inputs.length; i++) {
            inputs[i].disabled = check;
        }
    }

    function change_src(select, imgId) {
        // console.log(select.id)
        // console.log(inputDict[select.id])
        if (select.value === inputDict[select.id]) {

        } else {

        }

        document.getElementById(imgId).src = encodeURI('/static/img/weather_icons/' + select.value + '.svg');

    }

     function switch_source(f, source) {

        let x = document.getElementById(source);
        let locker = document.getElementById('weather__locker');
        let locker_icon = document.getElementById('locker__icon');
        // let posting_url = document.getElementById('weather');


        if (x.value === 'yrno') {
            x.value = 'local'
        } else {
            x.value = 'yrno'
        }

        // console.log(locker)
        locker.disabled = f;

        if (f) {
            locker.checked = true;
            let inputs = document.getElementsByClassName('weather-input');
            for(let i=0; i < inputs.length; i++) {
                inputs[i].disabled = f;
            }
            locker.classList.add('disabled');
            locker_icon.classList.add('disabled');
            // posting_url.action = posting_url.action.replace('local', 'yrno');
        } else {
            locker.classList.remove('disabled');
            locker_icon.classList.remove('disabled');
            // posting_url.action = posting_url.action.replace('yrno', 'local');
        }
    }

</script>

{% endblock %}