@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
         url('../fonts/FiraSans-Regular.woff') format('woff'),
         url('../fonts/FiraSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Italic.woff2') format('woff2'),
         url('../fonts/FiraSans-Italic.woff') format('woff'),
         url('../fonts/FiraSans-Italic.ttf') format('ttf');
    font-weight: normal;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
         url('../fonts/FiraSans-Medium.ttf') format('ttf'),
         url('../fonts/FiraSans-Medium.ttf') format('ttf');
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-MediumItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-MediumItalic.ttf') format('ttf'),
         url('../fonts/FiraSans-MediumItalic.ttf') format('ttf');
    font-weight: bold;
    font-display: swap;
    font-style: italic;
}