.table__header,
.table__row {
    justify-content: flex-start;
}

.table__cell {
    margin-right: auto;
}

.table__cell:nth-child(1) {
    margin-right: 0;
}

.select {
    font-size: 0.9em;
}

.name {
    width: 30%;
    margin-right: auto;
}

.open {
    width: 104px;
    text-align: center;
}

/*.close,*/
/*.night {*/
/*    width: 104px;*/
/*}*/

.night {
    width: 124px;
}

input[type=checkbox].night {
    width: 13px;
    height: 13px;
}

.winter {
    width: 40px;
}

.winter span {
    display: inline-block;
}

.locker+label,
.locker:checked+label {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("/static/img/icons/locked.svg") no-repeat 0 0;
    cursor: pointer;
    margin-right: 6px;
}

.locker+label {
    background: url("/static/img/icons/unlocked.svg") no-repeat 0 0;
}

#lifts__locker {
    display: none;
}


input[type=checkbox] {
    display: inline-block;
}

.open,
.close,
.night,
.winter {
    text-align: center;
}

.open input,
.close input,
.night input,
.winter input {
    margin: 0 auto;
}

.table__cell {
    padding: 5px 0;
}


.table__cell:first-child {
    padding: 0;
}

.table__row {
    min-height: 45px;
    height: auto;
}

.open,
.close {
    flex-wrap: wrap;
}

.closed-desc {
    padding-left: 5px;
    padding-right: 12px;
}

.close__desc-str {
    width: 100%;
    text-align: left;
    padding: 6px 3px 0;
}

.open__desc {
    width: 100%;
    text-align: right;
}

.ski.time,
.ped.time{
    margin-left: 0;
}

