* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    margin: 0;
    /* transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s; */
}

a:focus {
    outline: none !important
}

a:hover {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

p {
    margin: 0
}

ul,
li {
    margin: 0;
    list-style-type: none
}

img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    vertical-align: top;
}

input {
    display: block;
    outline: none;
    border: none;
}

textarea {
    display: block;
    outline: none
}

textarea:focus,
input:focus {
    border-color: transparent;
}

button {
    outline: none !important;
    border: none;
    background: 0 0
}

button:hover {
    cursor: pointer
}


select {
    border: none;
    text-align:center;
    padding: 0;
    width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select:focus {
    outline: none;
}

label {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.reset-input,
.reset-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.reset-input:focus,
.reset-btn:focus {
    outline: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
}

:root {
    --grey_fa: #fafafa;
    --grey_70: #707070;
    --grey_dd: #dddddd;
    --main-text: #373a3c;
    --blue: #26326b;
}

body {
    font-family: 'Fira Sans', Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--grey_fa);
    color: var(--main-text);
}

.main__button {
    background-color: #AC1E2A;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
}

.main__button[value="Сохранить"] {
    background-color: #8FC14F;
}

.header,
.main__container {
    /* background-color: wheat; */
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.07);
}

.container {
    /* background-color: lightcoral; */
    max-width: 1620px;
    min-width: 920px;
    width: 90%;
    margin: auto;
}

.header__container {
    height: 100px;
}

.header__logo {
    max-width: 254px;
    min-width: 120px;
    border-bottom: 4px solid transparent;
    margin-right: 32px;
}

.header__nav,
.header__sidenav,
.nav__items,
.sidenav__items {
    align-self: stretch;
}

.nav__items {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.nav__items .nav__item,
.menu__link {
    margin: 0 10px;
}

.nav__item {
    color: var(--blue);
    align-self: stretch;
    border-bottom: 4px solid transparent;
}

.header__nav {
    width: 100%;
    min-width: 640px;
}

.header__sidenav {
    min-width: 76px;
    margin-left: 32px;
}

.main__heading,
.nav__link {
    color: var(--grey_70);
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
}

.active.nav__item,
.nav__item:hover,
.nav__item:active {
    border-bottom: 4px solid var(--blue);
}

.active .nav__link,
.nav__item:hover .nav__link,
.nav__item:active .nav__link {
    color: var(--blue);
}