.header,
.main__container {
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
}

.container {
    max-width: 1820px;
    min-width: 930px;
    width: 90%;
    margin: auto;
}

.header__container {
    height: 100px;
}

.header__logo {
    max-width: 254px;
    min-width: 120px;
    border-bottom: 4px solid transparent;
    margin-right: 2%;
}

.header__nav {
    align-self: stretch;
}

.nav__items,
.header_sidenav {
    align-self: stretch;
    background-color: red;
}

.nav__item {
    color: var(--blue);
    height: 100%;
    margin: 0 2%;
    border-bottom: 4px solid transparent;
}

.nav_sidenav .nav__item:last-child {
    margin: 0 0 0 2%;
}

.active,
.nav__item:hover,
.nav__item:active {
    border-bottom: 4px solid var(--blue);
}

.nav__link {
    color: var(--grey_70);
    font-size: 1.2em;
    text-transform: uppercase;
    display: inline-block;
}

.active .nav__link,
.nav__item:hover .nav__link,
.nav__item:active .nav__link {
    color: var(--blue);
}

/* .main__container {
    margin-top: 50px;
    border-radius: 2px;
    grid-template-areas:
    "main__heading  main__buttons"
    "main__table main__table";
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr auto;
    padding: 0 20px;
}

.main__heading {
    grid-area: main__heading;
}

.main__buttons {
    grid-area: main__buttons;
} */

/* .table__container {
    width: 100%;
    background: #c4d3f6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px
} */

/* .main__table {
    grid-area: main__table;
    width: 100%;
    display: table;
    margin: 0
}

.row {
    display: table-row;
    background: #fff
}

.cell {
    display: table-cell
} */

/* .table__header {
    width: 100%;
} */




