<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Трассы</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header">
        <div class="header__container container flex">
            <a href="" class="header__logo">
                <img class="header__img" src="https://fakeimg.pl/245x61/">
            </a>
            <nav class="header__nav nav flex">
                <ul class="nav__items flex">
                    <li class="nav__item flex"><a href="" class="nav__link">Погода</a></li>
                    <li class="nav__item flex"><a href="" class="nav__link">Подъёмники</a></li>
                    <li class="nav__item flex active"><a href="" class="nav__link">Трассы</a></li>
                    <li class="nav__item flex"><a href="" class="nav__link">Активности</a></li>
                </ul>
            </nav>
            <div class="header_sidenav flex">
                <div class="nav__item flex"><a href="" class="nav__link">Настройки</a></div>
                <div class="nav__item flex"><a href="" class="nav__link">Выход</a></div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="main__container container grid">
            <!-- <div class="main__header flex"> -->
                <h1 class="main__heading">Трассы</h1>
                <form action="" class="main__buttons">
                    <button class="main__button button reset-btn" value="Отменить">Отменить</button>
                    <button class="main__button button reset-btn" value="Сохранить">Сохранить</button>
                </form>
            <!-- </div> -->
            <div class="main__table table">
                <ul class="table__header flex">
                    <li class="table__heading name">Название</li>
                    <li class="table__heading level">Сложность</li>
                    <li class="table__heading open-hours">Время работы</li>
                    <li class="table__heading state">Состояние</li>
                    <li class="table__heading last-change">Последнее изменение</li>
                </ul>
                <ul class="table__items">
                    <li class="table__item flex">
                        <div class="name">Адонис</div>
                        <div class="level">••••</div>
                        <div class="open-hours">12:00 - 15:00</div>
                        <div class="state">••••</div>
                        <div class="last-change">12/05/20 10:35 User</div>
                    </li>
                    <li class="table__item flex">
                        <div class="name">Адонис</div>
                        <div class="level">••••</div>
                        <div class="open-hours">12:00 - 15:00</div>
                        <div class="state">••••</div>
                        <div class="last-change">12/05/20 10:35 User</div>
                    </li>
                    <li class="table__item flex">
                        <div class="name">Адонис</div>
                        <div class="level">••••</div>
                        <div class="open-hours">12:00 - 15:00</div>
                        <div class="state">••••</div>
                        <div class="last-change">12/05/20 10:35 User</div>
                    </li>
                    <li class="table__item flex">
                        <div class="name">Адонис</div>
                        <div class="level">••••</div>
                        <div class="open-hours">12:00 - 15:00</div>
                        <div class="state">••••</div>
                        <div class="last-change">12/05/20 10:35 User</div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>